.header {
    padding: 1rem ;
    background: rgba(255 , 255 , 255 , 0.2);
    position: sticky ;
    border: 1px solid rgba(255 , 255 , 255 , 0.2);
    border-radius: 12px;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(40px);
}
.logo {
    cursor: pointer;
}
.searchbar {
    
    max-width: 500px;
    display: flex ;
    align-items: center;
    margin-left : 20px;
}
.searchInput {
    width: 100% ;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    outline: none;
}
.searchbutton {
    background-color: #ec4899;
    color: white;
    padding: 12px 1rem;
    border-radius: 0 20px 20px 0;
}
.link:hover {
    cursor: pointer;

}