.container {
    width: 500px ;
    height: 500px ;
    background-color: rgba(12, 12, 67 , 0.9);
}
.containerb {
    width: 500px ;
    height: 500px ;
    background-color: hsl(48, 58%, 56%);
}
.imgContainer {
    position: relative ;
    width: 50% ;
    height: 25rem;

}
.storeImg {
    width: 100% ;
    height: 100%;
    position: absolute ;
}